<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') ~ '?' ~ cache_id }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth/signing.css') ~ '?' ~ cache_id }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth/signup.css') ~ '?' ~ cache_id }}">
</head>

<body>
  <main class="form-container">
    <h3>Create a free account</h3>
    <form method="POST" class="signing-form">
      {{ form.csrf_token }}
      {{ form.username(class='full-len h', placeholder='username') }}
      {{ form.email(class='full-len h', placeholder='email address') }}
      {{ form.address(class='full-len h', placeholder='home address') }}
      {{ form.password(class='full-len h', placeholder='password') }}
      {{ form.password2(class='full-len h', placeholder='confirm password') }}
      <div class="log-in full-len">
        <p>Already have an account?</p>
        <a href="{{ url_for('auth.login') }}">Sign in</a>
      </div>
      {{ form.submit(class='sign-btn full-len submit-btn') }}
    </form>
  </main>
</body>

</html>